@import "tailwindcss";


body {
    margin: 0;
    padding: 0;
    font-family: serif;
    font-weight: 600;
    height: 100%;
    background-color: #C3CFF9;
}

.background-image {
    background-image: url("/assets/background-3.jpg");
    background-position: center;
    background-size: 100%;
    height: 100vh;
    /* opacity: 0.9; */
}

.chat-background-image {
    background-image: url("assets/chat-background-1.jpg");
    background-position: center;
    background-size: 100%;
    height: 100vh;
    opacity: 0.9;
}

.custom-scrollbar {
    overflow: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.1) inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

/*Scrollbar*/
.app-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #8b5cf6 rgba(255, 255, 255, 0.05);
}

/* Chrome / Edge / Safari */
.app-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.app-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 999px;
}

.app-scrollbar::-webkit-scrollbar-thumb {
    background: #b399f1;
    border-radius: 999px;
}

.app-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a78bfa;
}

/* component animation */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: scale(0.96) translateY(6px);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.animate-modal {
    animation: modalFadeIn 0.2s ease-out;
}

/* hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}